.app__head {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #3F8AFE;
}

.app__subhead{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    font-weight: 500;
    line-height: 35 px;
    color: rgba(0, 0, 0, 0.46);
}

.app__subhead_bold{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 35 px;
    color: rgba(0, 0, 0, 0.46);
}

body{
    position: fixed;
}