.Main2{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin:15px;
    padding: 20px;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}
.EnterDetails{
    background: rgba(217, 217, 217, 0.36);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 45%;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    margin:auto;
    font-family: 'Montserrat';
}
.title{
    font-size: 35px;
    margin-left: 5rem;
    margin-top: 3rem;
    
}
.entries3,.need,.getOTP{  
    margin-top: 40px;
    margin: auto;
    align-self: center;
    width: 60%;
}

.getOTP{
    margin-left: 85%;
    margin-top: -20px;
    font-size: 15px;
    color: rgba(63, 138, 254, 1);
}
.entries3{
    margin-top: 50px;
}
form{
    display: flex;
    flex-direction: column;
}
label,.title{
    font-weight: bold;
}
label{
    margin-left: 5px;
}
.Photo{
    width: 55%;
}
.Photo img
{ 
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    height: 100%;
    width: 100%;
}
input{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    font-size: 17px;
    text-align: center;
    color: #948989;
    border: none;
}
.login{
    border-color: rgba(63, 138, 254, 1);
    background-color: rgba(63, 138, 254, 1);
    box-shadow: none;
    border-radius: 40px;
    margin: auto;   
    width: 85px;
    height: 35px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: white;
}
.login{
    margin-top: -20px;
    width: 130px;
    height: 50px;   
}
.icon{
    width: 20px;
    height: 20px;
}

.uchoice{
    background-color:rgba(115, 189, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    height: 30px;
}
.Hchoice{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    height: 30px;
}

a{
    text-decoration: none;
}
.userIcon{
    justify-content: space-between;
    width: 1.2rem;
    height: 1.2rem;
}